/* Thêm hiệu ứng bừng sáng cho Avatar */
.avatar-wrapper {
    position: relative;
    display: inline-block;
}

.avatar-img {
    border: 5px solid #eaf5ea; /* Viền xanh lá nhạt đồng bộ theme */
    transition: all 0.4s ease;
}

.avatar-wrapper:hover .avatar-img {
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(26, 58, 40, 0.2) !important;
    border-color: #198754;
}

/* Tút lại nút đổi mật khẩu */
.btn-outline-forest {
    color: #1a3a28;
    border-color: #1a3a28;
    font-weight: 600;
}

    .btn-outline-forest:hover {
        background-color: #1a3a28;
        color: white;
    }